*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(139, 46, 226);
    list-style-type: none;
}


.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.flexbox {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: black;
  padding: 10px;
  
}

.flexbox img {
  width: 100px;
  height: auto; 
  border: 3px solid black; 
 
}

.flexbox h1 {
  color: white;
  background-color: black;
  padding: 10px;
}



article{
 
  background-color: white;
  padding: 1px 1px;
  width:fit-content;
  height: fit-content;
  border: 10px solid black;
  margin:10px;
  
  p{
    background-color: white;
  }
  h3{
    background-color: white;
  }
  button{
         background-color: green;
         color: white;


  }
}

section{
       display: flex;
        justify-content:space-between;
}

.fuenteneg{
  
  font-size: 25px ;
  
  a{
  color: white;
  background-color: black;
  }
}
nav{
  /* text-align: center; */
      width:fit-content;
      height: fit-content;
      
      border: 5px solid black;
      margin:10px;
      display: flex;
      justify-content:space-between;
     margin:10px;
     
}

