*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(139, 46, 226);
    list-style-type: none;
}

.fuenteneg{
  
  font-size: 25px ;
  
  a{
  color: white;
  background-color: black;
  }
}
nav{
  /* text-align: center; */
      width:fit-content;
      height: fit-content;
      
      border: 5px solid black;
      margin:10px;
      display: flex;
      justify-content:space-between;
     margin:10px;
     
}
form{
    font-size: 25px;
    font-style: oblique;
    button{
        font-size: 30px;
         background-color: green;
         color: white;
         padding: 30px 50px;
        }
         
        
}

div{
    font-family: 'Times New Roman', Times, serif ;
   
}
button{
    padding: 30px 50px;
}

