*{
    box-sizing: border-box;
    
    list-style-type: none;
}


/* .contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: center;

  
} */
/* 
.flexbox {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: black;
  padding: 10px;
  
} */

/* .flexbox img {
  width: 100px;
  height: auto; 
  border: 3px solid black; 
 
} */





article{
  display: flex;
 justify-content:space-between;
  background-color: rgb(199, 31, 31);
  padding: 1px 1px;
  width:fit-content;
  height: fit-content;
  border: 5px solid black;
  margin:5px;
  



}

.flexbox h1 {
  
  color: rgb(15, 165, 10);
  /* background-color: black; */
  /* padding: 10px; */
  font-size: 50px;
}

section{

       display: flex;
        justify-content:space-between;
        padding: 30px;
}

.fuenteneg{
  
  font-size: 25px ;
  
 
        }



body{
    background-image: url('../img/mother.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

 /* a{
  color: rgb(226, 217, 217);
  /* background-color: black; */
   /* display: flex;
    justify-content: space-between;
  } */ 



.grid-ej{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
    color: white;
}
.tarj{
    background-color: rgb(0, 202, 84);
    padding: 20px;
    border-radius: 2px;
    text-align: center;
}

.ul-end{
  display: flex;
  justify-content: flex-end;
  color: rgb(0, 255, 34);
  
}

/* nav ul{
  display: flex;
  justify-content: flex-end;
  
  flex-direction: column;
  align-items: flex-start;

} */

.div-logo{
  display: flex;
  justify-content: flex-start;


}

.login{
  display: flex;
  justify-content:flex-end;
  color:rgb(177, 177, 185);
}